<section class="account">

    <h1>Account</h1>
    <p>To update your email address or change your password, change the values below.</p>

    <form ng-submit="update()">

        <p class="message success" ng-if="success">{{ success }}</p>
        <p class="message error" ng-if="error">{{ error }}</p>

        <input type="email" placeholder="Email" ng-model="user.email" autofocus>
        <input type="password" placeholder="Password (leave blank to keep the same)" ng-model="user.password">

        <button type="submit">Update Details</button>

    </form>

    <button class="delete" ng-click="remove()"><strong>*WARNING*</strong> Delete Account <strong>*WARNING*</strong></button>

</section>
