<%
	template.addEvent('form', 'submit', actions.submitForm);
%>

<div id="homepage">
	<hgroup>
		<h1>notes<span class="icon">&#182;</span></h1>
		<h3>Write private available notes</h3>
	</hgroup>
	<form>
		<input id="email" placeholder="Email address" type="email" />
		<div>
			<input id="password" placeholder="Password" type="password" />
			<button type="submit">Register / Login</button>
		</div>
	</form>
</div>