<%
	template.addEvent('form', 'submit', actions.submitForm);
%>

<div id="homepage">
	<hgroup>
		<h1>notes<span class="icon">&#182;</span></h1>
		<h3>Keep your notes <strong>private</strong></h3>
	</hgroup>
	<form>
		<input id="email" placeholder="Account email" type="email" <%= (email ? 'value="'+email+'"' : '') %> autofocus />
		<input id="password" placeholder="Account password" type="password" />
		<input id="passphrase" placeholder="Note encryption passphrase, don't forget it!" type="password" <%= (passphrase ? 'value="'+passphrase+'"' : '') %> />
		<div class="footer">
			<label for="passphrase"><strong>Always use the same passphrase!</strong><br /><em>Note: it is stored locally in plain text</em></label>
			<button type="submit">Register / Login</button>
		</div>
	</form>
</div>