<%
	template.addEvent('h1', 'click', function(){
		console.log('You clicked on the header tag!');
	});
%>

<div id="homepage">
	<hgroup>
		<h1>notes<span class="icon">&#182;</span></h1>
		<h3>Public, Private, Available</h3>
	</hgroup>
	<form>
		<input id="email" placeholder="Email address" type="text" />
		<div>
			<input id="password" placeholder="Password" type="password" />
			<button type="submit">Register / Login</button>
		</div>
	</form>
</div>