<div id="note-edit">
	<header>
		<a class="notes" href="#!/user/notes"><span class="icon"></span>Back To Notes</a>
		<a class="logout" href="#!/user/logout">Logout</a>
	</header>
	<div class="note">
		<textarea id="email" placeholder="Write your note here..."><%= note_details.text %></textarea>
	</div>
</div>