<div id="note-edit">
	<header>
		<h3>Created: <em><%= notes.utility.relativeDate(note_details.created_at) %></em></h3>
		<a href="#!/user/logout">Logout</a>
	</header>
	<div class="notes">
		<p><%= note_details.text %></p>
	</div>
</div>