<%
	template.addEvent('header a.save', 'click', actions.save);
	template.addEvent('header a.delete', 'click', actions.delete);
%>

<div id="note-edit">
	<header>
		<a class="button home" href="#!/user/notes"><span class="icon"></span>Back To Notes</a>
		<a class="button save" href="#!/note/save"><span class="icon"></span><span class="normal">Save</span><span class="active">Saving..</span></a>
		<a class="button delete" href="#!/note/delete"><span class="icon"></span>Delete</a>
		<a class="logout" href="#!/user/logout">Logout</a>
	</header>
	<div class="note">
		<textarea id="email" placeholder="Write your note here..." data-noteId="<%= (note_details ? note_details.note_id : '') %>"><%= (note_details ? note_details.text : '') %></textarea>
		<date datetime="<%= (note_details ? note_details.updated_at : '') %>"></date>
	</div>
</div>