<%
	template.addEvent('div.note a.save', 'click', actions.save);
%>

<div id="note-edit">
	<header>
		<a class="button notes" href="#!/user/notes"><span class="icon"></span>Back To Notes</a>
		<a class="logout" href="#!/user/logout">Logout</a>
	</header>
	<div class="note">
		<textarea id="email" placeholder="Write your note here..." data-noteId="<%= (note_details ? note_details.note_id : '') %>"><%= (note_details ? note_details.text : '') %></textarea>
	</div>
</div>