* {
	margin: 0;
	padding: 0;
}
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

textarea, input, button {
	outline: none;
}

html, input, textarea {
	background: #e1e1e1;
	color: #111111;
	font: 100%/1.5em 'PT Sans', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Arvo', Georgia, Times, serif;
}
h1 {
	font-size: 3.73em;
	line-height: 1em;
}
h2 {
	font-size: 2.8em;
	line-height: 1em;
}
h3 {
	font-size: 1.88em;
	line-height: 1em;
}
h4 {
	font-size: 1.5em;
	line-height: 1em;
}
h5 {
	font-size: 1.25em;
	line-height: 1em;
}

strong {
	font-weight: bold;
}

body {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}