#notes {
	margin: 0 auto;
	padding-bottom: 50px;
	width: 960px;
}


/*
	Header
*/
#notes > div > header {
	overflow: hidden;
}
	#notes > div > header a.button {
		background: white;
		border-radius: 3px;
		box-shadow: 0 0 1px rgba(0,0,0,0.1);
		color: black;
		display: block;
		float: left;
		line-height: 1em;
		margin: 15px 0 5px;
		padding: 7px 15px;
		text-decoration: none;
	}
	#notes > div > header a.button span.active, #notes > div > header a.button.active span.normal {
		display: none;
	}
	#notes > div > header a.button.active span.active {
		display: inline;
	}
	#notes > div > header a.button.save, #notes > div > header a.button.delete {
		margin-left: 15px;
	}
	#notes > div > header a.button:hover {
		background: #f0f0f0;
	}
	#notes > div > header a.button.delete:hover {
		background: #f0aaa5;
	}
		#notes > div > header a.button span.icon {
			background-size: 100% 100% !important;
			display: inline-block;
			height: 16px;
			margin-right: 10px;
			width: 16px;
		}
		#notes > div > header a.new span.icon {
			background: url('../img/new.svg');
		}
		#notes > div > header a.home span.icon {
			background: url('../img/home.svg');
		}
		#notes > div > header a.save span.icon {
			background: url('../img/save.svg');
		}
		#notes > div > header a.delete span.icon {
			background: url('../img/delete.svg');
		}
	#notes > div > header a.account {
		background: #333333;
		border-radius: 0 0 10px 10px;
		color: #f0f0f0;
		display: block;
		float: right;
		padding: 5px 15px;
		text-decoration: none;
	}


/*
	Homepage
*/
#homepage {

}
	#homepage hgroup {
		margin-top: 75px;
		text-align: center;
		text-shadow: 0 1px 0 white;
	}
		#homepage hgroup h1 {
			font-size: 6em;
			letter-spacing: -3px;
			line-height: 1em;
			position: relative;
		}
			#homepage hgroup h1 span.icon {
				color: #c7007d;
				margin: -30px 0 0 10px;
				position: absolute;
			}
		#homepage hgroup h3 {
			font-size: 1.05em;
			line-height: 1em;
		}
	#homepage form {
		background: #cdcdcd;
		border-radius: 5px;
		margin: 50px auto 0;
		overflow: hidden;
		padding: 15px;
		position: relative;
		width: 50%;
	}
		#homepage form input, #homepage form button {
			border-radius: 2px;
			font: 100%/1em 'PT Sans', Helvetica, Arial, sans-serif;
			display: block;
		}
		#homepage form input {
			background: white;
			border: 1px solid #b9b9b9;
			height: 40px;
			margin-bottom: 15px;
			padding: 10px;
			width: 100%;
		}
		#homepage form div.footer {
			overflow: hidden;
		}
			#homepage form div.footer label {
				float: left;
				width: 58%;
			}
				#homepage form div.footer label em {
					color: #666666;
				}
			#homepage form div.footer button {
				background: #c7007d;
				border: 1px solid #810051;
				color: white;
				float: right;
				height: 40px;
				width: 38%;
			}


/*
	Account
*/
#account {

}
	#account a.logout, #account span.delete-account {
		border-radius: 3px;
		cursor: pointer;
		display: block;
		margin: 30px auto 0;
		padding: 15px;
		text-align: center;
		text-decoration: none;
		width: 50%;
	}
	#account a.logout {
		background: white;
		color: black;
	}
	#account a.logout:hover {
		background: #f0f0f0;
	}
	#account span.delete-account {
		background: #962328;
		color: white;
	}
	#account span.delete-account:hover {
		background: #f10f17;
		color: black;
		font-weight: bold;
	}
	#account form.change-password {
		margin: 30px auto 0;
		overflow: hidden;
		width: 50%;
	}
		#account form.change-password input, #account form.change-password button {
			background: white;
			border: 1px solid #b9b9b9;
			font: 100%/1em 'PT Sans', Helvetica, Arial, sans-serif;
			display: block;
			height: 40px;
		}
		#account form.change-password input {
			border-right: none;
			border-radius: 2px 0 0 2px;
			float: left;
			padding: 5px 10px;
			width: 65%;
		}
		#account form.change-password button {
			background: #f0f0f0;
			border-radius: 0 2px 2px 0;
			cursor: pointer;
			float: right;
			width: 35%;
		}
		#account form.change-password button:hover {
			background: #e1e1e1;
		}


/*
	Notes list
*/
#notes-list {

}
	#notes-list div.notes {
		margin-right: -2%;
		overflow: hidden;
	}
		#notes-list div.notes h3.no-notes {
			color: #666666;
			margin-top:100px;
			text-align: center;
		}
		#notes-list div.notes > div {
			background: #c8c8c8;
			cursor: pointer;
			display: block;
			float: left;
			height: 150px;
			margin: 2% 2% 0 0;
			overflow: hidden;
			padding: 10px;
			position: relative;
			width: 23%;
		}
			#notes-list div.notes > div h5 {
				line-height: 1.5em;
			}
			#notes-list div.notes > div time {
				bottom: 5px;
				font-size: 0.9em;
				line-height: 1em;
				position: absolute;
				right: 5px;
			}


/*
	Edit note
*/
#note-edit {
	position: relative;
}
	#note-edit div.note {
		margin-top:20px;
	}
		#note-edit div.note textarea {
			border: none;
			display: block;
			font-size: 1.2em;
			resize: none;
			width: 100%;
		}
		#note-edit div.note date {
			bottom: -30px;
			left: 0;
			position: absolute;
		}


/*
	Tablet
*/
@media screen and (max-width: 960px) {

	#notes {
		width: 758px;
	}

}


/*
	Mobile
*/
@media screen and (max-width: 758px) {

	html, body {
		overflow-x: hidden;
	}

	#homepage hgroup h1 {
		font-size: 5em;
	}

	#notes {
		width: 292px;
	}
		#notes > div > header a.button {
			overflow: hidden;
			padding-left: 10px;
			padding-right: 10px;
			white-space: nowrap;
			width: 36px;
		}

	#homepage form {
		width: 96%;
	}

	#notes-list div.notes > div {
		margin-top: 15px;
		width: 98%;
	}

}