form {

    p.message {

        background: rgba(black, 0.05);
        border-left: 4px solid;
        padding: 0.5em 1em;

        &.error {
            border-left-color: red;
        }

        &.success {
            border-left-color: green;
        }

    }

}

input, textarea, select, button {
    border: none;
    display: block;
    width: 100%;
}

input, textarea, select {
    background: white;
    padding: 0.5em;
}

input, select {
    height: 2.5em;
}

textarea {
    height: 7em;
}

button {
    background: #222;
    color: white;
    cursor: pointer;
    height: 2.5em;
}
