@import 'reset';

$colour-primary: #c7007d;

@import 'type';

html {
    background: rgb(235, 235, 235);
    box-sizing: border-box;
}

@import 'forms';

.full-width {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}

header.primary {

    background: #222;

    nav {

        @extend .full-width;
        height: 2.5em;
        overflow: hidden;

        a, button {

            border-bottom: 3px solid white;
            color: white;
            display: block;
            float: left;
            height: 100%;
            line-height: 2.5em;
            margin-right: 1em;
            padding: 0 0.75em;
            text-decoration: none;
            width: auto;

            &:hover {
                border-bottom-color: $colour-primary;
            }

            &.right {
                float: right;
                margin-left: 1em;
                margin-right: 0;
            }

        }

    }

}

@import 'pages/authentication';
@import 'pages/account';
@import 'pages/note-list';
@import 'pages/note-edit';

@media screen and (max-width: 600px) {
    .small-remove {
        display: none !important;
    }
}
