@import 'reset';
@import 'type';

html {
    background: rgb(235, 235, 235);
    box-sizing: border-box;
}

@import 'forms';

.full-width {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}

header.primary {

    background: #222;
    padding: 0.25em 0;

    nav {

        @extend .full-width;
        overflow: hidden;

        a {
            color: white;
            display: block;
            float: left;
            margin-right: 1em;
        }

    }

}

@import 'pages/authentication';
@import 'pages/account';
@import 'pages/note-list';
@import 'pages/note-edit';
